:root{
  --light-bg:#242424;
  --dark-bg:#121212;
  --chip-bg:#484848;
  --chip-bg-active:#E64039;
  --chip-text:#CACACA;
  --chip-text-active:#F3F4F6;
  --text-white:#FFFFFF;
  --placeholder:#767676;
  --header-height:3.5rem;
}
*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: var(--text-white);
}
.container{
  padding: 1rem;
}
.shimmer{
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}